<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo ctm-nav">Be In Agriculture</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li class="nav-item" role="presentation">
            <a
             
              routerLink="/serreindex"
              >Serres</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              
              routerLink="/domaineindex"
             
              
            
              >Domaines</a
            >
          </li>
         
          <li class="nav-item" role="presentation">
            <a
              
              routerLink="/campagneindex"
             
              >Campagne:</a>  
        
          </li>
          <li class="nav-item" role="presentation">
            <a
              
              routerLink="/assolementindex"
             
              
             
              >Assolement</a
            >
            <li class="nav-item" role="presentation">
              <a
             
                routerLink="cultureindex"
               
                >Culture</a
              >
              <li class="nav-item" role="presentation">
                <a
                  
                  routerLink="/varieteindex"
                
                  
                 
                  >Variété</a
                >
                <li class="nav-item" role="presentation">
                  <a
                    routerLink="/suiviindex"
                   
                    >Suivi</a
                  >
                </li>
                <li>
                    <a 
                    routerLink="/map">Map</a>
                  </li>
      </ul>
    </div>
  </nav>

 