


<div class="container">
    <div class="row">
        <div class="col-md-12">
        <form   [formGroup]="createDomaine" (ngSubmit)="onSubmit()">
           <div class="form-group">
            <label for="domaine">Domaine:</label>
            <input type="text" name="domaines"  id="domaines" class="form-control" placeholder="Entrer le domaine" formControlName="domaines"></div>
            <div class="form-group">
            <input type="submit"    class="form-control btn btn-primary"  value="Enregistrer"></div>

        </form>
        </div>
    </div>
</div>





